html {
  touch-action: manipulation;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  left: 0;
}